# PostgreSQL server name (without .postgres.database.azure.com suffix)
Database__Server=robotics-dev-psql-server

# Database name on the server
Database__PostgresDatabase=sara

# AAD user name configured on the PostgreSQL server for this app
Database__User=sara-dev

# Thermal reference storage account
Storage__ThermalReferenceStorageAccount=saradevthermalref
