name: Promote to Production

permissions:
  contents: read
  pull-requests: read
  packages: write

# Only one workflow in a concurrency group may run at a time
concurrency:
  group: production-concurrency
  cancel-in-progress: true

on:
  workflow_dispatch:

jobs:
  get_staging_version:
    name: Get version from staging
    outputs:
      versionTag: ${{ steps.get_version_tag.outputs.tag }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout infrastructure
        uses: actions/checkout@v4
        with:
          ref: main
          repository: equinor/analytics-infrastructure
          ssh-key: ${{ secrets.ANALYTICS_INFRASTRUCTURE_DEPLOY_KEY }}

      - name: Get SARA version in staging
        id: get_version_tag
        # Search for the exact line referring to the sara image to avoid getting the other
        # lines containing sara (e.g. sara-anonymizer)
        run: |
          TAG_LINE_NUMBER=$(($(grep -n -x "  newName: auroraprodacr.azurecr.io/robotics/sara" k8s_kustomize/overlays/staging/kustomization.yaml |  cut --delimiter=":" --fields=1)+1))
          VERSION_TAG=$(sed -n "${TAG_LINE_NUMBER}p" k8s_kustomize/overlays/staging/kustomization.yaml  |  cut --delimiter=":" --fields=2)
          echo "tag=$VERSION_TAG" >> "$GITHUB_OUTPUT"

  run_migrations:
    name: Update database in Production
    needs: get_staging_version
    uses: ./.github/workflows/runMigrations.yml
    with:
      PullRequestCheckout: false
      Environment: Production
      CheckoutRef: ${{ needs.get_staging_version.outputs.versionTag }}
    secrets:
      ClientId: ${{secrets.CLIENTID}}
      ClientSecret: ${{secrets.CLIENTSECRET}}

  deploy:
    name: Update deployment in Production
    needs: get_staging_version
    uses: ./.github/workflows/update_aurora_deployment.yml
    with:
      Environment: production
      Tag: ${{ needs.get_staging_version.outputs.versionTag }}
      Registry: auroraprodacr.azurecr.io
      ImageName: robotics/sara
      AuthorName: ${{ github.actor }}
    secrets:
      DeployKey: ${{ secrets.ANALYTICS_INFRASTRUCTURE_DEPLOY_KEY }}

  deploy_workflow-notifier:
    name: Update workflow notifier in Production
    needs: [get_staging_version, deploy]
    uses: ./.github/workflows/update_aurora_deployment.yml
    with:
      Environment: production
      Tag: ${{ needs.get_staging_version.outputs.versionTag }}
      Registry: auroraprodacr.azurecr.io
      ImageName: robotics/workflow-notifier
      AuthorName: ${{ github.actor }}
    secrets:
      DeployKey: ${{ secrets.ANALYTICS_INFRASTRUCTURE_DEPLOY_KEY }}
